.login {
  width: 100%;
  height: 100vh;
  padding: 0 .56em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f7f7f7, #e0e0e0);

  .cabecalho {
    width: 100%;
    padding: 1em 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 150px;
      cursor: pointer;
    }
  }

  form {
    width: 100%;
    max-width: 500px;
    height: 300px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #ffffff, #f8f8f8);

    .titulo {
      width: 100%;
      margin-bottom: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      .linha {
        flex-grow: 1;
        height: 2px;
        background-color: #d1d1d1;
      }

      p {
        margin: 0 15px;
        white-space: nowrap;
        color: #555;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .camposFormulario {
      width: 100%;
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      border: 1px solid #cccccc;
      border-radius: 5px;
      overflow: hidden;
      background-color: #f7f7f7;

      input {
        width: calc(100% - 50px);
        padding: 0.75em;
        font-size: 14px;
        border: none;
        outline: none;
        background: transparent;
      }

      i {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        color: #777;
      }
    }

    #campoSenha {
      position: relative;

      #botaoVisibilidadeSenha {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #777;
      }
    }

    button {
      width: 100%;
      max-width: 200px;
      padding: .3em .75em;
      border: none;
      border-radius: 5px;
      background-color: #00A74A;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #059747;
      }
    }
  }
}
