<section class="relatorio">
  <div class="cabecalho">
    <img id="imagemColorida" src="/assets/images/logos/logoTotalColorida.png" alt="" routerLink="/Home">

    <i class="fa fa-bars" (click)="mudarMenuAtivo()"></i>

    <div class="menu" *ngIf="menuAtivo">
      <p routerLink="/RelatoriosTreinamento">Relatórios Treinamento</p>
      <p routerLink="/Emails">Emails</p>
      <p routerLink="/Phishing">Phishing</p>
    </div>
  </div>

  <label>Relatório de Treinamentos</label>

  <div class="campoPesquisa" *ngIf="relatorio.length > 0">
    <input type="text" placeholder="Pesquise por Nome, Departamento ou Data..." [(ngModel)]="campoPesquisa" (keydown.enter)="pesquisar()">

    <button (click)="pesquisar()" id="botaoPesquisar">
      <i class="fa fa-search"></i>
      Pesquisar
    </button>

    <button id="botaoLimparPesquisa" (click)="limparPesquisa()" *ngIf="relatorioFiltrado.length > 0">
      <i class="fa fa-trash"></i>
    </button>
  </div>

  <div class="tabelaRelatorio">
    <div class="tabela" *ngIf="relatorio.length > 0">
      <table>
        <thead>
          <th>Código Alternativo</th>
          <th>Nome</th>
          <th>Depatamento</th>
          <th>Cargo</th>
          <th>Data/Hora</th>
          <th>Acertos</th>
        </thead>

        <tbody *ngIf="relatorioFiltrado.length == 0">
          <tr *ngFor="let item of relatorio | paginate: {itemsPerPage: 40, currentPage: numeroPagina, totalItems: contador}">
            <td>{{item.CodigoAlternativo}}</td>
            <td>{{item.Nome}}</td>
            <td>{{item.Departamento}}</td>
            <td>{{item.Cargo}}</td>
            <td>{{formatarDataBrasileira(item.DataHora)}}</td>
            <td>{{item.Acertos}} de 10</td>
          </tr>
        </tbody>

        <tbody *ngIf="relatorioFiltrado.length > 0">
          <tr *ngFor="let item of relatorioFiltrado | paginate: {itemsPerPage: 40, currentPage: numeroPagina, totalItems: contador}">
            <td>{{item.CodigoAlternativo}}</td>
            <td>{{item.Nome}}</td>
            <td>{{item.Departamento}}</td>
            <td>{{item.Cargo}}</td>
            <td>{{formatarDataBrasileira(item.DataHora)}}</td>
            <td>{{item.Acertos}} de 10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer *ngIf="relatorio.length > 0">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="aoMudarDadosTabela($event)"></pagination-controls>

    <div class="exportacao">
      <select [(ngModel)]="valorExportar">
        <option value="XLSX">XLSX</option>
        <option value="PDF">PDF</option>
        <option value="CSV">CSV</option>
      </select>

      <button (click)="exportarConteudo()">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </footer>
</section>
