<section>
  <div class="container">
    <div class="header">
      <img src="/assets/images/logos/logoCompletaBranca2.png" alt="Logo da Empresa">
    </div>
    <div class="content">
      <h1>Você está participando de uma campanha de segurança!</h1>
      <p>
        O e-mail que você recebeu é parte de uma campanha de conscientização sobre segurança da informação promovida pela <strong>Bebidas Poty</strong>.
      </p>
      <p>
        Nossa equipe de TI entrará em contato com você em breve para discutir mais detalhes e reforçar boas práticas de segurança.
      </p>
    </div>
    <div class="footer">
      &copy; 2024 Todos os direitos reservados | Departamento de Tecnologia Poty.
    </div>
  </div>
</section>
